{% extends 'layout.html' %}
{% block content %}
<h1 style="color: darkblue; font-size:60px">Friend's Availability</h1>
    {% for post in posts %}
        <div style="font-size:30px; text-align:left; padding: 20px; box-shadow: 0 0 3px black; line-height: 40px; color: white">
            <div style="color: darkblue">{{ post.title }}: {{ post.content }}</div>
        </div>
        <br>
    {% endfor %}
    <br>
    <h1 style="color: #117964; font-size:30px">Yay! You're free on the same day(s):</h1>
    {% for post in posts %}
        {% for post1 in posts1 %}
            {% if post.title == post1.title %}
                <h1 style="color: darkblue; font-size:30px">
                    {{ post.title }}
                </h1>
                <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock content %}