{% extends 'layout.html' %}
{% block content %}
<h1 style="color: darkblue; font-size:60px">My Availability</h1>
    {% for time in times %}
        <div style="font-size:30px; text-align:left; padding: 20px; box-shadow: 0 0 3px black; line-height: 40px; color: white">
            <div style="color: darkblue">{{ time.day }}: {{ time.beg }}</div>
        </div>
        <br>
    {% endfor %}
<button><a href="{{ url_for('avail') }}">Keep editing your availability!</a></button>
{% endblock content %}