{% extends 'layout.html' %}
{% block content %}
<h1 style="color: darkblue; font-size:60px">My Walks</h1>
    <div class="portfolio-item mx-auto">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x">words words words</i></div>
        </div>

    </div>
<button><a href="{{ url_for('updatewalks') }}">Add a walk!</a></button>
{% endblock content %}