{% extends 'layout.html' %}
{% block content %}
<h1 style="color: darkblue; font-size:60px">My Walks</h1>
    {% for post in posts %}
        <div class="walkdisplay">
            <div style="color: darkblue">Walked with: @{{ post.title }} <br>
                Location: {{ post.location }} <br>
                Date: {{ post.day }} <br>
                Start Time: {{ post.start }} <br>
                End Time: {{ post.end }} <br>
                Total Distance: {{ post.distance }}</div>
        </div>
        <br>
    {% endfor %}
<button class="btn btn-dark"><a href="{{ url_for('updatewalks') }}">Add a walk!</a></button>
{% endblock content %}